.house-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 358px;
  min-height: fit-content;
  position: relative;
}
.house-card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}